# Third-party libs and Django apps used by namesdbsite

                                   # LICENSE
#django
#djangorestframework
#drf-yasg
#git+https://github.com/denshoproject/densho-elastictools.git
